@import 'src/scss/all';

.QuestionDocument {
  min-height: 40px;
  display: flex;
  align-items: center;
}

  .QuestionDocument_btn_i {
    margin-left: padding(.5);
  }

  .QuestionDocument_doc {
    @include truncate;
    max-width: 200px;

    &.-uploading {
      color: $text-color-disable !important;
    }
  }
    .QuestionDocument_doc_i {
      color: $text-color-light;
      font-size: 18px;
    }
    .QuestionDocument_doc_progress {
      position: absolute;
      top: -2px;
      right: 0;
      left: -2px;
      bottom: 0;
    }

  .QuestionDocument_error {
    display: flex;
    align-items: center;
    margin-left: padding(1);
    color: $color-error;
    background: transparentize($color-error, .9);
    padding: padding(1) padding();
    border-radius: 2px;
  }
    .QuestionDocument_error_i {
      margin-right: padding(1);
    }
    .QuestionDocument_error_clear {
      margin-left: padding(1);
      color: transparentize($color-error, .6);
      cursor: pointer;
    }