@import 'src/scss/all';

.Section_q {
  margin-bottom: padding(6);
}
  .Section_q_label {
    font-size: $text-big;
    margin-bottom: padding();
    display: block;
  }
  .Section_q_required {
    color: red;
    &:before {
      content: ' ';
    }
  }
  .Section_q_answer {
    margin-left: padding(4);
  }